:root {
  --primary-color: #f63f2d;
  --white-color: #ffffff;
  --black-color: #000000;
  --text-color: #333333;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  margin-top: 140px;
  background-color: #f5f5f5;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 120px;
  background-image: linear-gradient(#f63f2d, #fe6432);
  z-index: 999;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
}

.header__navbar-item,
.header__navbar-link {
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
  color: var(--white-color);
  padding: 4px;
  text-decoration: none;
}

.header__navbar-link:hover {
  opacity: 0.7;
}

.header__navbar-link--divided::after {
  content: '';
  display: block;
  position: absolute;
  border-left: 2px solid #f86c5c;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  right: -8px;
}

.header__navbar-icon {
  padding: 4px;
  color: var(--white-color);
}

.header__search-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: 200px;
}

.header__logo-img {
  width: 160px;
  color: var(--white-color);
}

.header__search {
  flex: 1;
}

.header__search-bar {
  flex: 1;
  height: 40px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}

.header__search-tag {
  padding-top: 8px;
  padding-bottom: 4px;
}

.header__search-tag-link {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.3rem;
  margin-right: 8px;
}

.header__search-input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 0 8px;
}

.header__search-button {
  background-color: var(--primary-color);
  height: 34px;
  width: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 3px;
  border: none;
  border-radius: 2px;
  outline: none;
}

.header__search-button-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

.header__cart {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__cart-icon {
  font-size: 2rem;
}

.banner {
  display: grid;
  height: 235px;
  grid-template-areas:
    'banner1 banner1 banner2'
    'banner1 banner1 banner3';
  gap: 1rem;
}

.banner__img1 {
  grid-area: banner1;
  background-image: url('../images/banner1.jfif');
  background-size: cover;
}

.banner__img2 {
  grid-area: banner2;
  background-image: url('../images/banner2.png');
  background-size: cover;
}

.banner__img3 {
  grid-area: banner3;
  background-image: url('../images/banner3.jfif');
  background-size: cover;
}

.banner__img1:hover,
.banner__img2:hover,
.banner__img3:hover {
  cursor: pointer;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.tag__button {
  width: 12.5%;
  min-width: 125px;
  height: 108px;
  background-color: var(--white-color);
  outline: none;
  border: none;
  cursor: pointer;
}

.tag__button:hover {
  transform: translateY(-3px);
}

.tag__img {
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.tag__title {
  font-size: 1.3rem;
}

.category {
  margin-top: 20px;
  background-color: var(--white-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.category__title {
  font-size: 1.6rem;
  color: gray;
  padding: 15px;
}

.category__list {
  height: 150px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.category__item {
  display: flex;
  width: 10%;
  min-width: 120px;
}

.category__button {
  width: 100%;
  height: 150px;
  background-color: var(--white-color);
  border: none;
  outline: none;
  padding: 0;
}

.category__button:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.category__img {
  width: 88px;
  border-radius: 50%;
}

.category__button-title {
  font-size: 1.4rem;
}

.flashsale {
  margin-top: 20px;
  background-color: var(--white-color);
}

.flashsale:hover {
  cursor: pointer;
}

.flashsale__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.flashsale__button {
  width: fit-content;
  height: 100%;
  color: var(--primary-color);
  background-color: var(--white-color);
  border: none;
  outline: none;
  display: flex;
  font-size: 1.4rem;
}

.flashsale__button:hover {
  cursor: pointer;
}

.flashsale__button-icon {
  color: var(--primary-color);
  margin-left: 10px;
}

.flashsale__img {
  width: 170px;
  height: 170px;
  background-image: url('../images/flashsale1.png');
  background-size: 170px 170px;
}

.flashsale__card-list {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.flashsale__card-item {
  width: 100% / 6;
  min-width: 170px;
  display: flex;
  flex-direction: column;
}

.flashsale__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flashsale__price {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  margin-top: 10px;
  font-weight: 5 00;
}

.flashsale__bar {
  color: var(--white-color);
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.subbanner {
  margin-top: 20px;
  display: flex;
}

.subbanner:hover {
  cursor: pointer;
}

.shopeemall {
  margin-top: 20px;
  background-color: var(--white-color);
}

.shopeemall__title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.shopeemall__title-primary {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.shopeemall__title-primary:hover {
  cursor: pointer;
}

.shopeemall__title-secondary {
  font-size: 1.6rem;
}

.shopeemall__icon {
  color: var(--black-color);
}

.shopeemall__content {
  width: 100%;
  min-height: 470px;
  height: 470px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.shopeemall__banner {
  width: 100% /3;
  height: 100%;
}

.shopeemall__cart-list {
  width: 200% / 3;
  display: flex;
  flex-wrap: wrap;
}

.shopeemall__cart-item {
  width: 25%;
  min-width: 200px;
  height: 100%/2;
}

.shopeemall__cart-item-img {
  height: 200px;
  width: 80px;
}

.shopeemall__cart-item-img:hover {
  cursor: pointer;
}

.shopeemall_cart-item-title {
  text-align: center;
  font-size: 1.6rem;
  color: var(--primary-color);
}

.topdeal {
  margin-top: 20px;
  padding-bottom: 20px;
  background-color: var(--white-color);
}

.topdeal__content {
  width: 100% /6;
  min-width: 100%/6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.topdeal__item {
  position: relative;
  width: 180px;
  min-width: 180px;
}

.topdeal__item:hover {
  cursor: pointer;
}

.topdeal__img {
  width: 180px;
  height: 180px;
}

.topdeal__counting {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 25px;
  text-align: center;
  background-color: lightgray;
  color: var(--white-color);
  font-size: 1.4rem;
  padding-top: 3px;
  padding-bottom: 3px;
}

.topdeal__title {
  color: #555;
  font-size: 1.8rem;
}

.suggest {
  margin-top: 20px;
}

.suggest__header {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: var(--primary-color);
  background-color: var(--white-color);
  font-weight: 500;
  border-bottom: 4px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggest__header:hover {
  cursor: pointer;
}

.suggest__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  gap: 10px;
  margin-top: 10px;
}

.suggest__item {
  background-color: var(--white-color);
  width: 190px;
  min-width: 190px;
  height: 262px;
  min-height: 262px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.suggest__item:hover {
  cursor: pointer;
  border: 1px solid var(--primary-color);
  transform: translateY(10px);
}

.suggest__item:hover::after {
  content: 'Tìm sản phẩm tương tự';
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.4rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.suggest__item-img {
  width: 188px;
  height: 188px;
}

.suggest__item-title {
  width: 100%;
  font-size: 1.2rem;
  color: var(--text-color);
  margin: 5px;
}

.suggest__item-footer {
  display: inline-flex;
  justify-content: space-between;
  margin: 5px;
}

.suggest__item-footer-price {
  color: var(--primary-color);
  font-size: 1.4rem;
}

.suggest__item-footer-sold-count {
  color: gray;
  font-size: 1.2rem;
}

.suggest__footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggest__footer-btn {
  padding: 15px 25px 15px 25px;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.suggest__footer-btn:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.footer {
  border-top: 4px solid var(--primary-color);
  margin-bottom: 50px;
}

.footer__description {
  color: #757575;
  background-color: var(--white-color);
  font-size: 1.2rem;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid lightgray;
}

.footer__tag {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #757575;
  background-color: var(--white-color);
  font-size: 1.2rem;
}

.footer__row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer__col-title {
  font-size: 1.3rem;
}

.footer__col-content {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.footer__about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  color: #757575;
  border-bottom: 1px solid lightgray;
  font-size: 1.2rem;
}

.footer__col-title {
  margin-bottom: 10px;
}

.footer__col-ul {
  list-style: none;
  padding: 0;
}

.footer__col-li {
  margin-bottom: 10px;
}

.footer__col-partner {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__country {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.4rem;
  color: #757575;
}

.footer__privacy-title {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.3rem;
  color: #757575;
}

.footer__privacy-img-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer__privacy-img {
  width: 100px;
  height: 50px;
}

.footer__privacy-text {
  font-size: 1.3rem;
  color: #757575;
  text-align: center;
}
